---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title="Chargé de production | Alex Berceaux"
  description="Alex Berceaux est un chargé de production spécialisé dans la production de films et de séries. Basé à Paris, il travaille pour des clients de tous horizons."
>
  <main>
    <h1 class="text-3xl font-bold underline">Hello world!</h1>
  </main>
</Layout>
